[submodule "dot.vim/bundle/vim-ansible-yaml"]
	path = dot.vim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "dot.vim/bundle/syntastic"]
	path = dot.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "dot.vim/bundle/vim-nagios"]
	path = dot.vim/bundle/vim-nagios
	url = git@github.com:bigbrozer/vim-nagios.git
[submodule "dot.vim/bundle/vim-puppet"]
	path = dot.vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
