[user]
	name = Mark Pitchless
	email = markpitchless@gmail.com
[core]
	editor = vim
[color]
    ui = true
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[color "diff"]
	plain = white
	meta = magenta reverse
	frag = cyan
	func = yellow
[merge]
    conflictstyle = diff3
[alias]
	undo-commit = reset --soft HEAD^
	redo-commit = commit -a -c ORIG_HEAD
