*.swp
bak
.bashrc.local
Desktop
Documents
Downloads
Dropbox
ITN
Lab
mnt
Music
Pictures
Public
public_html
senorvivo
share
src
Templates
tmp
usr
Videos
VirtualBox VMs
.Xauthority
.bash_history
.cache/
.sudo_as_admin_successful
.viminfo
.notion/default-session-*/
.notion/startup.log
ShadowRobot
Selina
sketchbook
.thumbnails
*id_rsa
.xsession-errors*
